.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;

  .app-container {
    width: 800px;
    height: 800px;
    overflow-y: auto;

    .goals-expand {
      height: auto;
      max-height: 99999px;
      /* transition: all 0.1s ease-in-out; */
    }

    .goals-fold {
      max-height: 0;
      /* transition: all 0.1s ease-in-out; */
      overflow: hidden;
      .goal-name {
        height: 0;
        overflow: hidden;
      }
    }

    .group-container,
    .goal-container {
      display: flex;
      width: 100%;
      .name {
        width: 100%;
        word-break: break-all;
        white-space: pre-wrap;
      }
    }

    .is-selected {
      background-color: aqua;
    }

    .is-selected.is-dragging {
      .goal-name {
        border: 1px solid lightslategray;
        background: lightgrey;
        color: gray;
      }
    }

    .group-container {
      flex-direction: column;
      .group-title {
        display: flex;
      }
    }

    .group-name {
      background: pink;
    }

    .goal-name {
      border: 1px solid green;
      background: lightblue;
    }

    .empty {
      height: 5px;
    }

    .fake-top {
      /* height: 100vh; */
      display: flex;
      align-items: center;
      background-color: lightblue;
    }

    .fake-bottom {
      height: 100vh;
      display: flex;
      align-items: center;
      background-color: lightblue;
    }
  }
}

.a-ment {
  height: 400px;
  width: 100%;
  background: lightcyan;
}

.number {
  position: absolute;
  right: 0;
  top: -5px;
  width: 100px;
  background-color: lightgreen;
}
